* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.user-profile{
    background-color: gray;
    margin-top: 6%;
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
    overflow: hidden;
}

.profile-top{
    padding: 1rem;
    text-align: center;
    color: white;
}

.profile-top .profile.info{
    margin-top: 1rem;
}

.profile-bottom{
    padding: 3rem 3rem 1rem 3rem;
}

.profile-bottom .profile-info{
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

button{
    margin-top: 2rem;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: black;
    background-color: lightgreen;
    
}

.profile-info{
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    color: black;

}